:host {
    height: 600px;
}

.result {
    height: 300px;
    background-color: whitesmoke;
}

.actions {
    height: 300px;
    background-color: white;
}

.action-row {
    height: 60px;
}

.action-button {
    width: 90px;
    height: 100%;
    font-size: 1.7rem;
}

.colored-button {
    color: goldenrod;
}

.evaluate-button {
    color: white;
    background-color: goldenrod;
}