:host {
    height: 690px;
}

.result {
    height: 340px;
    background-color: whitesmoke;
    position: relative;
}

#calc {
    position: absolute;
    bottom: 2.5rem;
    right: 0.5rem;
    font-size: 2rem;
}

#result {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 2rem;
}

.actions {
    height: 350px;
    background-color: white;
}

.action-row {
    height: 70px;
}

.action-button {
    width: 98px;
    height: 100%;
    font-size: 2rem;
    font-weight: bold
}

.colored-button {
    color: goldenrod;
    font-size: 2.5rem;
}

.evaluate-button {
    color: white;
    background-color: goldenrod;
}
